name: Test NIST FIPS 204 ML-DSA

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        os: [
          ubuntu-latest # x86_64
        ]
        compiler: [g++, clang++]
        sanitizer: [none, asan, ubsan]
        build_type: [Debug, Release]
        include:
          - os: macos-latest # aarch64
            compiler: clang++
            sanitizer: none
            build_type: Release
        exclude:
          - sanitizer: none
            build_type: Debug

    steps:
      - uses: actions/checkout@v6

      - name: Configure
        run: >
          cmake -B build
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DML_DSA_BUILD_TESTS=ON
          -DML_DSA_BUILD_EXAMPLES=ON
          -DML_DSA_FETCH_DEPS=ON
          -DML_DSA_ASAN=${{ matrix.sanitizer == 'asan' && 'ON' || 'OFF' }}
          -DML_DSA_UBSAN=${{ matrix.sanitizer == 'ubsan' && 'ON' || 'OFF' }}

      - name: Build
        run: cmake --build build -j$(nproc)

      - name: Test
        run: ctest --test-dir build -j$(nproc) --output-on-failure

      - name: Run Examples
        if: ${{ matrix.sanitizer == 'none' && matrix.build_type == 'Release' }}
        run: |
          ./build/ml_dsa_44
